* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex */
.flex {
    display: flex;

    &.col {
        flex-direction: column;
    } 

    &.row {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.items-center {
        align-items: center;
    }
}

/* Position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* Widths */
.w-full {
    width: 100%;
}

/* Heights */
.h-full {
    height: 100%;
}

/* Margins */
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Paddings */
.p-1 {
  padding: 1rem;
}
