* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex */
.flex {
  display: flex;

  &.col {
    flex-direction: column;
  } 

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.items-center {
    align-items: center;
  }

  &.items-start {
    align-items: flex-start;
  }

  &.items-end {
    align-items: flex-end;
  }
}

/* Position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

/* Widths */
.w-full {
  width: 100%;
}

/* Heights */
.h-full {
  height: 100%;
}

/* Margins */
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Paddings */
.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* General Page */
.page {
  margin-top: 4rem;
}
