.md-hidden {
  display: none;
}

@media only screen and (max-width: 714px) {
  .sm-hidden {
    display: none;
  }

  .md-hidden {
    display: flex;
  }

  footer {
    height: 17rem;
    align-items: center;
    justify-content: center;
  }

  /* Navbar styling */
  .nav-toggle {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 1rem;
  }

  .mobile-nav-bg {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .nav-bg-active {
    display: block;
  }

  .mobile-nav {
    transition: ease-in-out .25s;
    background-color:$uc-blue;
    transform: translateX(700px);
    height: 100vh;
    width: 13rem;
    right: 0;
  }

  .mobile-nav-items {
    margin-top: 2rem;
  }

  .link-item-mobile {
    text-decoration: none;
    color: $gray-200;
    font-family: $font;
  }

  .link-item-mobile-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $gray-200;
    padding: .25rem .5rem;
    height: auto;
    width: auto;
    border-radius:.25rem;
  }


  .link-item-mobile-brand img {
    width: 10rem;
    height: auto;
  }

  .mobile-nav-active {
    transition: ease-in-out .25s;
    transform: translateX(0);
  }

  .link-item-mobile-cta {
    text-decoration: none;
    font-family: $font;
    background-color: $gray-200;
    color: $uc-blue;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }

  /* Hero Styling */
  .hero-title,
  .hero-sub-title {
    text-align: center;
  }

  /* General Content Class styling */
  .content {
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .sponsor {
    width: 100%;
    height: auto;
    margin-top: .5rem; 
  }

  /* Footer */
  footer {
    position: relative;
  }

  .footer-left,
  .footer-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Login Registration */
  .page-login-registration {
    padding-top: 5rem;
  }

  .login {
    width: 100%;
    height: 20rem;
    border-radius: 10px 10px 0 0;
    padding: .5rem .75rem;
  }

  .register {
    width: 100%;
    height: 20rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
}
