$uc-red: #B21E28;
$uc-maroon: #500508;
$uc-blue: #0D3B6F;
$uc-dark-blue: #072342;
$white: #FFFFFF;
$gray-200: #F2F2F2;
$gray-500: #D8D8D8;
$gray-700: #808080;
$gray-800: #4A4A4A;
$black: #000000;
$off-white: #F6F6F6;
