.number-input {
  padding: 1rem .75rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.text-input {
  padding: 1rem .75rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.valid-input {
  border: 4px solid green;
}
